<div class="full menu">
	<div class="row">
		<div class="large-12 columns">
			<nav class="top-bar">
			  <ul class="title-area">
			    <!-- Title Area -->
			    <li class="name">
			      <h1><a href="#"><%= link_to "Unlocking Prison Phone Data", '/' %></a></h1>
			    </li>
			    <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
			    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
			  </ul>
			  <section class="top-bar-section">
			    <!-- Left Nav Section -->
			    <ul class="left">
					<li><%= link_to "Home", '/' %></li>
					<li class="divider"></li>
					<li><%= link_to "Documents", '/documents' %></li>
					<li class="divider"></li>
					<li><%= link_to "Contact", '/contact' %></li>
			    </ul>
			  </section>
			</nav>
		</div>
	</div>
</div>