<p id="notice"><%= notice %></p>

<div class="fcc-document-links">
  <span>View at FCC site :</span>
  <span><%= link_to "Filing \##{@doc_page.filing.fcc_num}", fcc_filing_url(@doc_page.filing) %> |</span>
  <span><%= link_to "Document \##{@doc_page.filing_doc.fcc_num}", @doc_page.filing_doc.url %></span>
</div>

<p>
	<iframe height="650" width="800" frameborder="0" src="<%= @doc_page.filing_doc.url %>">
	</iframe>
</p>
