.header, .footer{
	background: #2c2c2c;
	*{
		color: #fff;
	}
	a{
		color:#fff;
	}
}
.footer{
	h1, h2, h3, h4, h5, h6{
		margin:1em 0 1em 0;
	}
	a{
		&:hover{
			text-decoration:underline;
		}
	}
}

$topbar-bg:#111;
.full.menu{
	background:$topbar-bg;
	*{
		color: #fff
	}
	.top-bar{
		margin-bottom:0;
	}
}

a:hover{
	background: none;
}