.content {
  min-height: 800px;
}


.help-show {
	text-decoration: underline;
}

.help {
	display: none;
	border: 1px solid rgb(41, 41, 41);
	padding: 20px;
	margin: 5px;
	background-color: rgb(245, 245, 245);
	border-radius: 5px;
}

.header, .footer{
	background: #2c2c2c;
	*{
		color: #fff;
	}
	a{
		color:#fff;
	}
}

.footer{
	h1, h2, h3, h4, h5, h6{
		margin:0.25em 0;
	}
	a{
		&:hover{
			text-decoration:underline;
		}
	}

}

$topbar-bg:#111;
.full.menu{
	background:$topbar-bg;
	*{
		color: #fff
	}
	.top-bar{
		margin-bottom:0;
	}
}

div.search {

  #more {
    .element {
      margin-top: 13px;
      .label {
        margin-bottom: 3px;
        font-size: 1.2em;
      }
    }
  }

  input[type="submit"] { font-size: 1.2em; margin-top: 1em }
}

div.result-block {

  margin: 20px 0;

  .result {

    margin-top: 1em;

    .primary {
      font-size: 1.5em;
      margin: 0 0 .25em;
    }

    .secondary {
      font-size: 0.85em;
      margin: 0 0 0.125em 0;

      .name::after {
        content: ": "
      }
    }
  }
}



.pagination {
    font-size: 1.5em;
}

.fcc-document-block {
 margin: 0 15px;   
}

.doc-page .metadata {
    font-size: .75em;
}

.pager {
   
  font-size: 1.25em;


   #pagenumber {
       background-color: #21e1e1;
   }
}

.tagging {
     input[type=number] {
        display: inline;
        width: 10em;
     }
}
