<div class="row">
  <div class="large-8 columns">
    <%= render 'application/search' %>
  </div>
</div>

<% if @doc_pages %>
  <% provide(:title, 'FCC Filing Document Search Results') %>
  <div><%= @hits.total_count %> Results</div>
  <div class="result-block">
    <%= render @doc_pages %>
  </div>  
  <%= will_paginate @doc_pages, :params => {:search => params[:search]} %>
<% end %>
